
RetanguloPOO/.vs/RetanguloPOO/v15/.suo
RetanguloPOO/.vs/RetanguloPOO/v15/Server/sqlite3/storage.ide
*.json
RetanguloPOO/.vs/RetanguloPOO/v15/Server/sqlite3/storage.ide-shm
RetanguloPOO/RetanguloPOO.sln
RetanguloPOO/.vs/RetanguloPOO/v15/Server/sqlite3/storage.ide-wal
RetanguloPOO/RetanguloPOO/bin/Debug/netcoreapp2.1/RetanguloPOO.dll
RetanguloPOO/RetanguloPOO/bin/Debug/netcoreapp2.1/RetanguloPOO.pdb
RetanguloPOO/RetanguloPOO/obj/Debug/netcoreapp2.1/RetanguloPOO.AssemblyInfo.cs
RetanguloPOO/RetanguloPOO/obj/Debug/netcoreapp2.1/RetanguloPOO.AssemblyInfoInputs.cache
RetanguloPOO/RetanguloPOO/obj/Debug/netcoreapp2.1/RetanguloPOO.csproj.FileListAbsolute.txt
RetanguloPOO/RetanguloPOO/obj/Debug/netcoreapp2.1/RetanguloPOO.csproj.CoreCompileInputs.cache
RetanguloPOO/RetanguloPOO/obj/Debug/netcoreapp2.1/RetanguloPOO.dll
RetanguloPOO/RetanguloPOO/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RetanguloPOO/RetanguloPOO/obj/RetanguloPOO.csproj.nuget.g.props
RetanguloPOO/RetanguloPOO/obj/RetanguloPOO.csproj.nuget.cache
RetanguloPOO/RetanguloPOO/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RetanguloPOO/RetanguloPOO/obj/Debug/netcoreapp2.1/RetanguloPOO.pdb
RetanguloPOO/RetanguloPOO/obj/Debug/netcoreapp2.1/RetanguloPOO.csprojAssemblyReference.cache
RetanguloPOO/RetanguloPOO/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RetanguloPOO/RetanguloPOO/obj/Debug/netcoreapp2.1/RetanguloPOO.assets.cache
RetanguloPOO/RetanguloPOO/obj/RetanguloPOO.csproj.nuget.g.targets
RetanguloPOO/.vs/RetanguloPOO/v15/Server/sqlite3/db.lock
